extends ../layout

block content
    a(href='/bicicletas') Volver
    br
    br
    br
    h1 Nueva Bicicleta

    br
    br

    form(action='/bicicletas/create' method='post')
        label(for='id') ID:
        input#id(type='text' name='id')
        br
        label(for='color') Color:
        input#color(type='text' name='color')
        label(for='modelo') Modelo:
        input#model(type='text' name='modelo')
        br
        label(for='lat') Latitud:
        input#lat(type='text' name='lat')
        br
        label(for='long') Longitud:
        input#long(type='text' name='long')
        br
        br
        input.btn(type='submit' value='Ok')
        a.btn.btn-primary.js-scroll-trigger(type='submit') Comenzar

